<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 引入文件头和头部 -->
    {{template "main/top.html" .}}

    <style type="text/css">
        .commitopacity {
            position: absolute;
            width: 100%;
            height: 100px;
            background: #7f7f7f;
            filter: alpha(opacity=50);
            -moz-opacity: 0.8;
            -khtml-opacity: 0.5;
            opacity: 0.5;
            top: 0px;
            z-index: 99999;
        }
    </style>
</head>

<body class="no-skin">
<!-- 页面顶部¨ -->
{{template "main/head.html" .}}

<div id="websocket_button"></div><!-- 少了此处，聊天窗口就无法关闭 -->

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <!-- 左侧菜单 -->
    <%@ include file="left.jsp"%>

    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <div class="main-content-inner">

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <!-- #section:settings.box -->
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                </div><!-- /.ace-settings-container -->
                <div class="row">
                    <div id="jzts" style="display:none; width:100%; position:fixed; z-index:99999999;">
                        <div class="commitopacity" id="bkbgjz"></div>
                        <div style="padding-left: 70%;padding-top: 1px;">
                            <div style="float: left;margin-top: 3px;"><img src="static/images/loadingi.gif"/></div>
                            <div style="margin-top: 6px;"><h4 class="lighter block red">&nbsp;加载中 ...</h4></div>
                        </div>
                    </div>
                    <div>
                        <iframe name="mainFrame" id="mainFrame" frameborder="0" src="tab.do"
                                style="margin:0 auto;width:100%;height:100%;"></iframe>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.page-content -->

        </div>
    </div><!-- /.main-content -->

</div><!-- /.main-container -->

{{template "main/foot.html" .}}

<!-- 页面底部js¨ -->

<!-- ace scripts -->
<script src="/static/ace/js/ace/elements.scroller.js"></script>
<script src="/static/ace/js/ace/elements.colorpicker.js"></script>
<script src="/static/ace/js/ace/elements.fileinput.js"></script>
<script src="/static/ace/js/ace/elements.typeahead.js"></script>
<script src="/static/ace/js/ace/elements.wysiwyg.js"></script>
<script src="/static/ace/js/ace/elements.spinner.js"></script>
<script src="/static/ace/js/ace/elements.treeview.js"></script>
<script src="/static/ace/js/ace/elements.wizard.js"></script>
<script src="/static/ace/js/ace/elements.aside.js"></script>
<script src="/static/ace/js/ace/ace.js"></script>
<script src="/static/ace/js/ace/ace.ajax-content.js"></script>
<script src="/static/ace/js/ace/ace.touch-drag.js"></script>
<script src="/static/ace/js/ace/ace.sidebar.js"></script>
<script src="/static/ace/js/ace/ace.sidebar-scroll-1.js"></script>
<script src="/static/ace/js/ace/ace.submenu-hover.js"></script>
<script src="/static/ace/js/ace/ace.widget-box.js"></script>
<script src="/static/ace/js/ace/ace.settings.js"></script>
<script src="/static/ace/js/ace/ace.settings-rtl.js"></script>
<script src="/static/ace/js/ace/ace.settings-skin.js"></script>
<script src="/static/ace/js/ace/ace.widget-on-reload.js"></script>
<script src="/static/ace/js/ace/ace.searchbox-autocomplete.js"></script>
<!-- inline scripts related to this page -->

<!-- the following scripts are used in demo only for onpage help and you don't need them -->
<link rel="stylesheet" href="/static/ace/css/ace.onpage-help.css"/>

<script type="text/javascript"> ace.vars['base'] = '..'; </script>
<script src="/static/ace/js/ace/elements.onpage-help.js"></script>
<script src="/static/ace/js/ace/ace.onpage-help.js"></script>

<!--引入属于此页面的js -->
<script type="text/javascript" src="/static/js/myjs/head.js"></script>

<!--引入属于此页面的js -->
<script type="text/javascript" src="/static/js/myjs/index.js"></script>

<!--引入弹窗组件1start-->
<!--<script type="text/javascript" src="plugins/attention/zDialog/zDrag.js"></script>-->
<!--<script type="text/javascript" src="plugins/attention/zDialog/zDialog.js"></script>-->
<!--引入弹窗组件1end-->

<!--引入弹窗组件2start-->
<script type="text/javascript" src="/static/plugins/attention/drag/drag.js"></script>
<script type="text/javascript" src="/static/plugins/attention/drag/dialog.js"></script>
<link type="text/css" rel="stylesheet" href="/static/plugins/attention/drag/style.css"/>
<!--引入弹窗组件2end-->

<!--提示框-->
<script type="text/javascript" src="/static/js/jquery.tips.js"></script>
</body>
</html>